:root {
    --primary-color: #7E22CE;
    --background-color: #04020B;
    --gradient-color: #7E22CE;
    --font-family: 'Raleway', sans-serif;
}

body::before {
    background: radial-gradient(circle at center, rgba(126, 34, 206, 0.4) 0%, rgba(0, 0, 0, 0) 70%);
}

.logo-text {
    background-image: linear-gradient(135deg, #ffffff 0%, #7E22CE 100%);
}